<!DOCTYPE html>
<html>
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>

    <div class="container p-3">
      <div class="row">
        <div class="col-12">
          <h3>Create a message!</h3>
        </div>
        <div class="col-3 d-sm-none d-md-block">
          <p>
            Create a message for the world to see! Anyone can view all messages
            on the site, but only logged in users can view who authored the
            messages.
          </p>
        </div>
        <div class="col">
          <form action="" method="post">
            <label for="msg" class="form-label"
              >Enter your message (max 280 characters):</label
            >
            <textarea
              name="msg"
              id="msg"
              cols="30"
              rows="10"
              maxlength="280"
              required
              class="form-control"
                <%= isAuthenticated ? '' : 'disabled'%>
            ></textarea>
            <button class="btn btn-sm btn-outline-primary mt-2"
                <%= isAuthenticated ? '' : 'disabled'%>
            >Submit</button>
          </form>
        </div>
        <%if(isAuthenticated === false) {%>
        <div class="col-12">
          <div class="alert alert-warning mt-3" role="alert">
            Please log in to create a message
          </div>
        </div>
        <%}%> 
        <% if(typeof errors !== 'undefined') { %> <% errors.forEach((error) => {
      %>
      <div class="alert alert-warning mt-3" role="alert"><%= error.msg %></div>

      <%})%> <% } %>
      </div>
    </div>
  </body>
</html>
